.col-card{
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:rgb(204,202,202);
  padding:1em;
}

.row-card{
  padding:1em;
  margin:1em;
}

body{
  background-color:#f8f7f7;
}

.row-reset{
  padding:0px;
  margin:0px;
}

